.faq-page{
    margin-top: 20px;
    margin-bottom: 10%;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: baseline;

}

.questions{
    color: #FFFFFF;
    border-radius: 18px;
    padding: 5%;

}

.list-answer{
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 20px;

}
.questions-section{
    font-family: inherit;
    width: 1075px;
}
.questions-section li {
    list-style: none;
}
.faq-section{

}
.navbar-faq-link:active{

}


.list-answer-pair{
    margin-bottom: 10px;
    line-height: 32px;
}
h1.title-gradient{
    font-size: 56px;
}

.list-question {
    background: linear-gradient(to right, #8200BA, #FD9E17);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-bar-section {
    width: 858px;
    height: 52px;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 80px;
    margin-bottom: 80px;
}

.navbar-faq-link {
    text-align: center;
    width: 200px;
    height: 52px;
    border: transparent;
    border-radius: 108px;
    background: #040913;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar-faq-link:hover {
    cursor: pointer;
}
.faq-link-wrapper {
    width: 206px;
    height: 58px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.faq-link-wrapper:hover{
    border-radius: 108px;
    padding: 2px;
    border-image: linear-gradient(to right, #830DBA, #FD9E17) 1;
    background: linear-gradient(to right, #830DBA, #FD9E17);
}

.active {
    border-radius: 108px;
    padding: 2px;
    border-image: linear-gradient(to right, #830DBA, #FD9E17) 1;
    background: linear-gradient(to right, #830DBA, #FD9E17);
}