@import url("./normalize.css");

:root {
  --color-background: #040913;
  --color-global-gray: #1F2123;
  --color-global-pink: #9A299A;
  --color-navbar-active-element: #9A299A40;
  --color-navbar-hover-element: #9a299a19;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: var(--color-background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  color: #FFFFFF;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  display: block;
}

img {
  display: block;
}

input {
  border: none;
}

.form input:focus {
  outline: none;
  box-shadow: none;
}

button {
  border: none;
  cursor: pointer;
}

.gradient-text-1 {
  background: linear-gradient(90.91deg, #820DBA 7.86%, #FD9E17 88.66%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-text-2 {
  background: linear-gradient(90.56deg, #9A299A 7.75%, #F19026 88.91%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-text-3 {
  background: linear-gradient(90.56deg, #9A299A 7.75%, #FD9E17 88.91%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-text-4 {
  background: linear-gradient(91deg, #820DBA 7.86%, #FD9E17 88.66%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.frame-container {
  max-width: 1320px;
  margin-right: auto;
  margin-left: auto;
}


/**General**/
/**
Classes are created using xxxx-xxxx-xxxx naming convention or less words if no specificity is needed.
From left to right: general to specific inner element or trait.
Like 'section-opinions-title'.
*/
.html-general {
  background-color: #040913;
  /*font-family: Poppins, sans-serif;*/
  color: #FFFFFF;
}
body{
  /* display: flex;
  flex-direction: column;
  align-items: center; */

}
/**Top navigation bar**/
.top-navbar{
  display: inherit;
  border: 0;
  border-radius: 108px;
  width: 60%;
  margin-top: 71px;
  padding: 32px;
  background-color: #1F2123;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  justify-content: center;

}
.top-navbar-items{
  display: flex;
  justify-content: space-evenly;
  width: inherit;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  font-style: normal;

}

.menu-item{
  cursor: pointer;
}
/**Different variants of big titles**/
h1 {
  font-weight: 700;
  text-align: center;
}

h1.title-gradient{
  background: linear-gradient(to right, #8200BA, #FD9E17);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-size: 87px;
}

/*
 *Descriptive Text outside a block "zero bordered"
 */
.description-text-outer {
  font-weight: 300;
  font-size: 32px;
  line-height: 41px;
  text-align: center;
}
/*
 *Descriptive Text outside a block "zero bordered"
 */
.title-text-outer {
  font-weight: bold;
  font-size: 40px;
  line-height: 85px;
  text-align: center;
}
.title-text-bigger {
  font-weight: 700;
  font-size: 64px;
  line-height: 65px;
  text-align: center;
}

/*
 * Buttons are transparent and rounded in app
 */
.outer-buttons {
  background-color: transparent;
  border: solid 1px #FFFFFF;
  color: #FFFFFF;
  border-radius: 39px;
  padding: 9px 12px;
  margin: 10px;
}
.outer-buttons:hover {
  background-color: #9A299A;
  border: 0;
  color: #FFFFFF;
  border-radius: 39px;
  padding: 9px 12px;
  margin: 10px;
}

/**Central boxes. Gradient in borders**/
.boxes-container {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.box {
  border-radius: 18px;
  background-color: transparent;
  padding: 20px;
  width: 20%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  border: 3px solid;
  background-clip: padding-box;
  margin: 20px;
}

/* several elements have gradient color borders*/
.border-gradient {
  border-image: linear-gradient(to right, #830DBA, #FD9E17) 1;
}

/*titles of the boxes in the page*/
.boxes-title {
  color: #FFFFFF;
}
/* color of text inside boxes */
.boxes-text-description {
  color: #FFFFFF;
}
/**********End of boxes styles******************/

/*
 * Remove text-shadow in selection highlight and sets color
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}


/*
 * Remove default fieldset styles.
 */


/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}


/* this is for slogan of the page */
.large-box {
  display: flex;
  background-color: #1F2123;
  border-radius: 18px;
  text-align: left;
  padding: 1rem;
}
.large-box-text {

  font-weight: 300;
  font-size: 32px;
  line-height: 41px;
  text-align: left;
}

/* bar with nav items or buttons to filter products */
.product-filter {
  display: flex;
  justify-content: space-evenly;
  width: 60%;
  padding: 24px;
  border: 0;
  background-color: transparent;
}
/* when filters hovered or selected border is gradient*/
.menu-item-gradient {
  border: 2px solid transparent;
  border-radius: 18px;
  transition: border-image 0.3s;
}

.menu-item-gradient:hover {
  border-image: linear-gradient(to right, #830DBA, #FD9E17) 1;
}

/*section with courses or other advantage offering. It has text and image*/
.section-offerings{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 773px;
}
.section-offerings-text{
  width: 60%;
  height: 100%;
  margin-left: 10%;
}
/* this is a similar offering but for price section next */
.section-offerings-pricing{
  width: 30%;
  margin-left: 10%;
  margin-top: 0;
  margin-bottom: 0;

}
.section-offerings-img{
  height: 100%;
  width: 30%;
}

.offering-paragraph{
  text-align: left;
  font-weight: 300;
}
.price-offering{
  display: flex;
  justify-content: space-evenly;
  margin-top: auto;
}
.price-offering-boxes{
  height: 469px;
  width: 475px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.pricing-box-button {
  height: 58px;
  width: 90%;
  border: solid 1px transparent;
  border-radius: 39px;
  background-color: #404040;
  padding: 4px 6px;
  font-family: 'Inter', sans-serif;
  color: #FFFFFF;
}
/* section to allow mail list creation with form: text edit and submit button */
.mail-list {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 438px;
  background-color: #0D1018;
  border:solid 1px;
  border-left: transparent;
  border-right: transparent;
  border-image: linear-gradient(to right, #830DBA, #FD9E17) 1;
}

.mail-list-form {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.mail-list-edit {
  border: solid 1px #FFFFFF;
  border-radius: 39px;
  background-color: #0D1018;
  margin: 10px;
  height: 52px;
  width: 557px;
  text-align: center;
}

.button-submit {
  border: solid 1px transparent;
  border-radius: 39px;
  background-color: #9A299A;
  width: 128px;
  height: 52px;
  margin: 10px;
}

.inner-box-block{
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}





/* ==========================================================================
   Section Media Queries for Responsive Design.
   ========================================================================== */
/*phones and small screens*/
@media only screen and (max-width: 34em) {

}
