
.faq-container {
    width: 968px;
    padding: 20px;
    border-radius: 8px;
    color: white;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    font-size: 23px;
    line-height: 24px;
}
.faq-item {
    margin-bottom: 15px;
    cursor: pointer;
}
.faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
}
.faq-answer {
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 20px;
    font-weight: 300;
    color: #9C9E9F;
;
}
.faq-opener-closer{
    background: linear-gradient(to right, #8200BA, #FD9E17);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
}
.faq-opener-closer:hover{
    background: deepskyblue;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.gradient-line{
    width: 1075px;
    border-image: linear-gradient(to right, #8200BA, #FD9E17) 2;
    margin-top: 10px;
}