.navbar,
.navbar-a,
.navbar-b,
.navbar-links,
.shopping-cart-button,
.wishlist-button {
    display: flex;
}

.navbar-a,
.shopping-cart-button,
.wishlist-button {
    background-color: var(--color-global-gray);
}

.navbar {
    width: 1320px;
    height: 90px;
    justify-content: center;
    align-items: center;
    gap: 19px;
    margin-top: 71px;
}

.navbar-a {
    justify-content: center;
    align-items: center;
    gap: 58px;
    height: 90px;
    padding-right: 26px;
    padding-left: 43px;
    box-shadow: 0 6px 41px rgba(0, 0, 0, 0.57);
    border-radius: 108px;
}

.navbar-links {
    align-items: center;
    gap: 24px;
}

.navbar-link,
.navbar-logo {
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
    color: #9C9E9F;
}

.navbar-link-sign-up a {
    color: #030703;
    background-color: #F0EAF9;
    padding: 14px 30.5px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 108px;
}

.shopping-cart-button,
.wishlist-button {
    width: 46.6px;
    height: 45.41px;
    border-radius: 50%;
    justify-content: center;    
    align-items: center;
}

.navbar-b {
    gap: 11.5px;
}

.shopping-cart-button {
    position: relative;
}

.shopping-cart-indicator {
    position: absolute;
    width: 18.57px;
    height: 18.79px;
    background-color: var(--color-global-pink);
    border-radius: 50%;
    left: 69.29%;
    right: 19.74%;
    top: -15.49%;
    bottom: 98.17%;
    font-size: 12px;
    font-weight: 500;
    line-height: 18.06px;
    text-align: center;
}

.shopping-cart-icon{
    color: #FFFFFF;
}
.wishlist-icon{
    color: #FFFFFF;
}